
asgiref==3.7.2
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
crispy-bootstrap5==5.2.0
crispy-forms==2.0
cssselect2==0.7.0
defusedxml==0.7.1
Django==4.2.7
django-allauth==0.59.0
django-crispy-forms==2.0
django-filter==23.2
django-widget-tweaks==1.4.16
idna==3.6
lxml==4.9.4
packaging==23.2
Pillow==10.1.0
psycopg2==2.9.9
pycparser==2.21
pyparsing==3.1.1
python-decouple==3.8
requests==2.31.0
sqlparse==0.4.4
tomli==2.0.1
tqdm==4.66.1
urllib3==2.1.0
